body {
  background-color: #444;
  color: #BBB;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doors {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  list-style-type: none;
}