body {
  font-size: 10px;
  color: #B8B8FA;
  background-color: #121212;
}

h1 {
  font-size: 4.8em;
  font-weight: bold;
  margin: 0;
}

button {
  font-size: 1.6em;
  color: #0F0F0F;
  background-color: #B8B8FA;
  border-radius: 0.5em;
}